@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --primary-color:#282828;
    --secondary-color:rgb(68, 67, 67);
}
.light {
    background-color: white;
    color: black;
  }
body{
    background-color: var(--primary-color);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #fff;
}
header{
    background-color: var(--secondary-color);
    padding: 1rem; 
    display: flex; 
    justify-content: flex-end;
}
nav{
    display: grid;
    grid-template-columns: auto  auto;
    font-size: 1.2rem;
    
}
ul{
   margin-left: -15px;
   margin-right: 75px;
   list-style: none;
}
.search{
    background: transparent;
    border: 1px solid var(--primary-color);
    padding: 1.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit ;
    outline: none;
}
#icon{
    width: 100px;
    height: 100px;
    position: absolute;
    top :5px;
    left: 3rem;
    
}
.search:focus{
   background: var(--primary-color);
}
.search::placeholder{
    color: #fff;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    width: 300px; 
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgb(0, 0, 0,0.1);
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
}
.movie img{
    width: 100%;

}
.movieinfo{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;

}
.movieinfo h3{
    margin-top: 0;
}
.movieinfo span{
    background: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movieinfo span.green{
    color: lightgreen;
}
.movieinfo span.orange{
    color: rgb(223, 176, 89);
}
.movieinfo span.red{
    color: rgb(253, 113, 113);
}
.overview{
    position: absolute;
   left:0;
   right: 0;
   bottom: 0;
   background-color:#fff ;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   color: var(--primary-color);
   max-height: 100%;
   transform: translateY(101%);
   transition: transform 0.3s ease-in;
   opacity: 0.9;
}
.movie:hover .overview{
    transform: translateY(0%);
    opacity: 0.9;
}
footer{
    background: black;
    text-align: center;
    height: 80px;
}
h3{
    margin-top: 20px;
    padding: 20px;
}
.heart{
    display: flex;
    
    flex-direction: column;
    font-size: 40px;
}